.ct-cards-container {
  width: 100%;
  max-width: 746px;
  margin: 0 auto;
}

.ct-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #3c9af0;
  margin-bottom: 25px;
}

.ct-cards img {
  width: 100%;
  max-width: 391px;
  padding: 10px;
}

.ct-cards p {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  color: var(--ct-color-font-secondary);
}

@media (min-width: 1200px) {
  .ct-cards p {
    font-size: 20px;
  }
}
